## Import Libraries

Let's import some libraries to get started!

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.tsa.seasonal import seasonal_decompose

## The Data

Let's start by reading in the Toyota_Data.csv file into a pandas dataframe.

In [16]:
df = pd.read_csv("Toyota_Data.csv")

df.head(21)

          Date  Adj Close     Close      High       Low      Open  Volume
0   1980-03-17   2.296798  3.291227  3.344743  3.291227  0.000000   41109
1   1980-03-18   2.306134  3.304606  3.358122  3.304606  0.000000    9343
2   1980-03-19   2.306134  3.304606  3.304606  3.304606  3.304606       0
3   1980-03-20   2.306134  3.304606  3.358122  3.304606  0.000000   10277
4   1980-03-21   2.362154  3.384880  3.438396  3.384880  0.000000    8409
5   1980-03-24   2.371490  3.398259  3.451775  3.398259  0.000000    2803
6   1980-03-25   2.352816  3.371501  3.425017  3.371501  0.000000   27095
7   1980-03-26   2.352816  3.371501  3.425017  3.371501  0.000000    1869
8   1980-03-27   2.324807  3.331364  3.384880  3.331364  0.000000   14015
9   1980-03-28   2.315470  3.317985  3.371501  3.317985  0.000000   36438
10  1980-03-31   2.315470  3.317985  3.371501  3.317985  0.000000    1869
11  1980-04-01   2.278124  3.264469  3.317985  3.264469  0.000000    2803
12  1980-04-02   2.259452  3.237711  3.291227  3.237711  0.000000    6540
13  1980-04-03   2.259452  3.237711  3.237711  3.237711  3.237711       0
14  1980-04-07   2.259452  3.237711  3.291227  3.237711  0.000000     934
15  1980-04-08   2.259452  3.237711  3.291227  3.237711  0.000000   44846
16  1980-04-09   2.334144  3.344743  3.398259  3.344743  0.000000   42044
17  1980-04-10   2.362154  3.384880  3.438396  3.384880  0.000000   35503
18  1980-04-11   2.352816  3.371501  3.425017  3.371501  0.000000   59795
19  1980-04-14   2.352816  3.371501  3.371501  3.371501  3.371501       0
20  1980-04-15   2.427510  3.478533  3.532049  3.478533  0.000000    1869

## Exploratory Data Analysis

Let's begin some exploratory data analysis! We'll start by checking out missing data!

## Missing Data

We can use seaborn to create a simple heatmap to see where we are missing data!

In [21]:
df.isnull()

        Date  Adj Close  Close   High    Low   Open  Volume
0      False      False  False  False  False  False   False
1      False      False  False  False  False  False   False
2      False      False  False  False  False  False   False
3      False      False  False  False  False  False   False
4      False      False  False  False  False  False   False
...      ...        ...    ...    ...    ...    ...     ...
11286  False      False  False  False  False  False   False
11287  False      False  False  False  False  False   False
11288  False      False  False  False  False  False   False
11289  False      False  False  False  False  False   False
11290  False      False  False  False  False  False   False

[11291 rows x 7 columns]

In [22]:
df.isnull().sum()

Date         0
Adj Close    0
Close        0
High         0
Low          0
Open         0
Volume       0
dtype: int64

Approximately **0%** of the data is missing, indicating a complete dataset with no null values. Since there are no missing values, we don’t need to perform imputation. However, checking the `Volume` column, we notice some values are `0`. This could indicate days with no stock trading activity rather than missing data. We may need to investigate further to determine if these zeros should be treated as valid data points or handled differently.